# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
.idea/
*.suo
*.user
*.userprefs
*.sln
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# OS files
.DS_Store
Thumbs.db

# Build artifacts
*.log
*.pdb
*.obj

# Backups and autosaves
Backup/
Autosaves/

# If you use Rider or Visual Studio Code
.idea/
.vscode/

# Ignore plugin intermediates
Plugins/*/Intermediate/
Plugins/*/Binaries/
